.card{
    display: flex;
    height: 100px;
    width: 80%;
    margin: 20px auto;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 7px 2px grey;

}