.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(32, 119, 219);
    color: white;
    border: 1px solid black;
    justify-content: space-between;
    padding: 5px;
}
.btnclass{
    display: flex;
    /* margin-top: 20px; */
    justify-content: center;
    justify-content: center;
    
}
.btn{
    margin-top: 25px;
    margin-left: 10px;
    background-color: rgb(32, 119, 219);
    color: white;
    /* margin: 10px; */
    height: 30px;
    width: 80px;
    border-radius: 30px;
}